@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

/*
Mobile: 375px
- Desktop: 1440px

fonts 300 400 600

### Gradients

- Linear, 135deg, from 	#ffffff, to 	#fff5f5
- Linear, 135deg, from 	#f8bfbf, to 	#ee8c8c*/
:root {
  --desaturated-red: #ce9797;
  --soft-red: #f96262;
  --dark-grayish-red: #413a3a;
  --white: #ffffff;
  --linear-gradient-1: linear-gradient(135deg, #ffffff, #fff5f5);
  --linear-gradient-2: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  --linear-gradient-3: linear-gradient(135deg, #ee8c8c, #ee8c8c);
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  /*but NOT width: 100% or the error icon will go too big*/
}
body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  color: var(--desaturated-red);
}
.logo {
  padding: 1.5rem 0 0 1.5rem;
}
main {
  display: flex;
  flex-direction: column-reverse;
}
main h1 span {
  color: var(--dark-grayish-red);
  font-weight: 600;
}
main article:first-child {
  /*this will target the first article*/
  text-align: center;
  padding: 0 1.5rem 2rem 1.5rem; /*we use 0 on top because we already put 2rem of margin on the top and bottom of the image*/
}
main h1 {
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-weight: 300;
  margin-bottom: 1rem;
  font-size: 2rem;
}
main article:first-child p {
  line-height: 1.6;
}
main article .logo {
  /*this is for the 2nd logo
  in the media Q for tablet and larger 
  we will display it and display none to the first one*/
  display: none;
}
main article picture img {
  width: 100%; /*so it takes up the entire width always - so it is responsive*/
  margin: 2rem 0; /*you could use auto instead of 0*/
}
/**
*! FORM STYLES
*/
form {
  position: relative;
  /*then we will set the button and error icon to absolute*/
}
form input {
  padding: 0.8rem 1rem;
  border-radius: 30px;
  font-family: inherit;
  font-size: 1rem;
  width: 100%;
  border: 1px solid var(--desaturated-red);
  margin: 2rem 0 0 0; /*or we could just say margin-top: 2rem*/
  color: var(--desaturated-red);
}
form input::placeholder {
  /*::placeholder represents the placeholder text in an <input> or <textarea> element*/
  color: var(--dark-grayish-red);
}

/*beginning of code that breaks*/
form label {
  /*this is our error !*/
  position: absolute;
  top: 35%;
  transform: translateY(35%);
  right: 5.5rem;
  display: none;
}

form button {
  /*this is our error exclamation icon*/
  position: absolute;
  top: 65%; /*I didn't know you could do this in %'ages*/
  transform: translateY(-65%); /*I never used this before*/
  right: -0.5rem; /*so that it overhangs the side of the input just a bit*/
  background-image: var(--linear-gradient-2); /*so NOT background-color??*/
  padding: 0.8rem 2rem; /*the same as the input*/
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: 0.3s; /*I LOVE this */
}
form button:hover {
  background-image: var(--linear-gradient-3);
}
/*end of code that breaks*/
.error {
  color: var(--soft-red);
  text-align: left;
  margin: 10px 15px;
  display: none;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
  /*for tablets and larger*/
  body {
    background: url(images/bg-pattern-desktop.svg) no-repeat center/cover;
  }
  main {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  main article {
    flex: 1;
  }
  main article:first-child {
    /*flex-basis: 70%;*/
    text-align: left;
  }
  main article picture img {
    /*flex-basis: 30%;*/
    margin-top: -4rem;
  }
  body .logo {
    /*we will use our 1st logo*/
    display: block;
    margin: 0px;
  }
  main h1 {
    font-size: 4rem;
    width: 500px;
  }
  main article:first-child p {
    width: 500px;
  }
  form input {
    width: 500px; /*but this messes up the arrrow button etc*/
  }
  form label {
    right: 340px;
  }
  form button {
    right: 250px;
  }
}

/*

https://www.youtube.com/watch?v=09wN4Rp9EGk

37:00
*/
